<%= stylesheet_link_tag "main" %>

<table align="center" > 
<tr>
<td align="center">
<h1> <font color="white"><%= @filtered_mp3s.count %> Result(s) Found </font></h1>
</td>
</tr>

<tr>
<td>
<hr>
 <form action="/mix" method="POST">

<table>
  <tr>
  	<th></th>
    <th><font color="#FFFFFF">Id</font></th>
    <th><font color="#FFFFFF">Rating</font></th>
    <th><font color="#FFFFFF">Url</font></th>
    <th><font color="#FFFFFF">Title</font></th>
    <th><font color="#FFFFFF">Artist</font></th>
    <th><font color="#FFFFFF">Length</font></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filtered_mp3s.each do |mp3| %>
  <tr>
  	<td><%=  check_box_tag('checkbox[]', mp3.id) %></td>
    <td><font color="white"><%= mp3.id %></font></td>
    <td><font color="white"><%= (mp3.avg_reviews * 100).round()/100  %></font></td>
    <td><font color="white"><%= mp3.url %></font></td>
    <td><font color="white"><%= mp3.title %></font></td>
    <td><font color="white"><%= mp3.artist %></font></td>
    <td><font color="white"><%= mp3.length %></font></td>
    <td><%= link_to 'Show', mp3, :class=>'blue' %></td>
  </tr>
<% end %>
</table>
<br />

     <input type="submit" value="Mix Selected" />
 </form>

</td>
</tr>
<tr>
<td align="center">
<hr>
<span align="right">
<%= link_to 'Post Audio', new_mp3_path, :class => 'menu' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
</td>
</tr>

</table>

