<%= stylesheet_link_tag "main" %>
<%= javascript_include_tag "http://code.jquery.com/jquery.js" %>
<br>
<table class="files" > 
<tr>
<td align="center">
<h1> <font color="white"><%= @mp3.title %> </font></h1>
</td>
</tr>

<tr>
<td align="center">

<p>
<font color="white">
  <%= link_to 'PLAY', @mp3.url, :class => 'menu' %>
</p>

<p>
  <b>Author:</b>
  <%= @mp3.artist %>
</p>

<p>
  <b>Length:</b>
  <%= @mp3.length %>
</p>

<p>
  <b>Rating:</b>
<%= @mp3.avg_reviews  %>
  <br/><small>(<%= @mp3.count_reviews %> reviews)</small>
</p>
           
<%= form_for @mp3 do |f| %>

<h2>Reviews</h2>
<div id="reviews">
<%= render :partial => "reviews/review", :collection => @mp3.reviews %>
</div>

<% end %>
<%= link_to 'Edit', edit_mp3_path(@mp3), :class =>'blue' %> |

<%= link_to 'New Audio', new_mp3_path, :class =>'blue' %>
</font>
</td>
</tr>
</table>
<p>
<%= render :partial => "mp3s/review" %>
</p>

